Repository emargin/COL: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx}": "eslint --fix",
    "*.{js,jsx,ts,tsx,md,html,css,scss}": "prettier --write"
}

chore: minor issues
  src/layouts/index.tsx
  src/shared/components/Content.tsx
  src/shared/models/index.ts
  src/shared/models/userLocale.ts
Due: eslint --fix, prettier --write

feat: connect google analitics
  src/pages/_document.tsx
Due: eslint --fix, prettier --write

feat: create `GiveFeedBack` page
  src/pages/give-feedback/index.tsx
  src/shared/assets/qrcode.png
Due: eslint --fix, prettier --write

chore: minor issues
  src/features/AddInfoAlert.tsx
  src/mock/index.ts
  src/pages/upload-receipt/index.tsx
  src/shared/components/Footer.tsx
Due: eslint --fix, prettier --write

style: change `README` logo size
  README.md
Due: prettier --write

style: `README` change web app url
  README.md
Due: prettier --write

chore: minor issues
  src/pages/city/[slug].tsx
Due: eslint --fix, prettier --write

chore: change `deploy.yaml`
  .github/workflows/deploy.yaml
Due: none

chore: remove flag
  Dockerfile
Due: none

chore: change `Docker`
  Dockerfile
Due: none

fix lock
  package-lock.json
  yarn.lock
Due: none

chore: connect google script
  src/pages/_document.tsx
Due: eslint --fix, prettier --write

style: change table view
  src/pages/_document.tsx
  src/widgets/CityCategoryInfo.tsx
Due: eslint --fix, prettier --write

refactor: replace meta to `_app`
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/city/[slug].tsx
  src/shared/utils/useLocale.ts
Due: eslint --fix, prettier --write

style: add colors for annon cards
  src/ThemeBuilder.tsx
  src/pages/give-feedback/index.tsx
Due: eslint --fix, prettier --write

feat: add first histogram
  package-lock.json
  package.json
  src/features/Histogram.tsx
  src/features/HistogramOld.tsx
  src/mock/index.ts
  src/pages/upload-receipt/index.tsx
  src/widgets/CityCategoryInfo.tsx
  src/widgets/CityGeneralInfo.tsx
  yarn.lock
Due: eslint --fix, prettier --write

style: change general view styles
  src/features/Histogram.tsx
  src/mock/index.ts
  src/widgets/CityCategoryInfo.tsx
  src/widgets/CityGeneralInfo.tsx
Due: eslint --fix, prettier --write

refactor: update `CityCategoryInfo`
  src/widgets/CityCategoryInfo.tsx
  src/widgets/CityGeneralInfo.tsx
Due: eslint --fix, prettier --write

refactor: change a bit theme
  src/ThemeBuilder.tsx
Due: eslint --fix, prettier --write

fix: add temporary solution for `desctop/mobile` component
  src/entities/InfoCard.tsx
  src/mock/index.ts
  src/widgets/CityCategoryInfo.tsx
  src/widgets/CityGeneralInfo.tsx
Due: eslint --fix, prettier --write

refactor: minor issues
  src/features/Histogram.tsx
  src/pages/city/[slug].tsx
  src/widgets/CityCategoryInfo.tsx
Due: eslint --fix, prettier --write

fix: repair `Search`
  src/features/Search/Search.tsx
Due: eslint --fix, prettier --write

fix: fix bug with hydration
  src/ThemeBuilder.tsx
  src/entities/InfoCard.tsx
  src/features/AddInfoAlert.tsx
  src/widgets/CityCategoryInfo.tsx
Due: eslint --fix, prettier --write

fix: ru locale 404, advanced palette interface
  src/ThemeBuilder.tsx
  src/features/Histogram.tsx
  src/features/HistogramOld.tsx
  src/pages/city/[slug].tsx
Due: eslint --fix, prettier --write

feat: rework info banner
  src/features/AddInfoAlert.tsx
  src/features/InfoBaner.tsx
  src/shared/img/infoBaner.jpg
  src/shared/img/infoBanerBig.jpg
  src/shared/img/infoBaner_light.jpg
  src/widgets/CityGeneralInfo.tsx
Due: eslint --fix, prettier --write

chore: remove old info alert
  src/features/AddInfoAlert.tsx
  src/features/InfoBaner.tsx
  src/widgets/CityGeneralInfo.tsx
Due: eslint --fix, prettier --write

feat: add color for price columns
  src/widgets/CityCategoryInfo.tsx
Due: eslint --fix, prettier --write

chore: remove old params
  src/widgets/CityCategoryInfo.tsx
Due: eslint --fix, prettier --write

create_env_in_ci
  .github/workflows/deploy.yaml
  Dockerfile
Due: none

create_env_in_ci
  .github/workflows/deploy.yaml
Due: none

container restart always
  .github/workflows/deploy.yaml
Due: none

feat: add open editing modal with swipe
  src/features/Search/Search.tsx
  src/features/mobile/RowInfo.tsx
  src/widgets/CityCategoryInfo.tsx
  src/widgets/mobile/MobileDataDrawer.tsx
Due: eslint --fix, prettier --write

refactor: change swipe edit
  src/features/mobile/RowInfo.tsx
Due: eslint --fix, prettier --write

feat: add simple onBoarding for mobile version
  src/features/mobile/RowInfo.tsx
  src/widgets/mobile/MobileDataDrawer.tsx
Due: eslint --fix, prettier --write

fix: add condition before intrecal setting
  src/features/mobile/RowInfo.tsx
Due: eslint --fix, prettier --write

fix: clear interval
  src/features/mobile/RowInfo.tsx
Due: eslint --fix, prettier --write

feat: add edit button displaying
  src/widgets/CityCategoryInfo.tsx
Due: eslint --fix, prettier --write

refactor: update gtag
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/shared/lib/gtag.ts
Due: eslint --fix, prettier --write
